a.button {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 20px;
  font-size: 24px;
  transition: .3s ease-in-out;
}

.type1 {
  color: #BA7D67;
  border: 2px solid transparent;
}

.type1:hover {
  border: 2px solid #BA7D67;
}

.type2 {
  color: #E7E5DD;
  border-radius: 25px;
  border: 3px solid #E7E5DD;
}

.type2:hover {
  color: #BDB9AB;
  background: #E7E5DD;
}

button.back {
  display: block;
  font-size: 24px;
  background: blue;
  border: 1px solid green;
  border-radius: 25px;
  padding: 10px;
}

.back a {
  text-decoration: none;
  color: red;
  font-family: Roboto;
}

.back a:hover {
  transition: 0.2s linear;
  color: white;
}
