body {
  background-color: #A1A4ED;
  color: white;
}

h1 {
  font-size: 35px;
  color: blue;
  font-family: Arial;
  text-align: center; /*Комментарий*/
}

.red {
  color: #E66363;
}

#block1 {
  width: 80%;
  margin: 0 auto;
  background-image: url(../images/pattern.png);
  padding: 15px;
  border: 5px solid rgb(58, 161, 144);
  border-radius: 30px;
}

b u {
  color: blue;
}

a:hover {
  text-decoration: underline;
  color: white;
}

img {
  border: 3px solid red;
  border-radius: 15px;
  transition: 1s;
  transform: scale(1);
}

img:hover {
  transform: scale(0.9);
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

menu {
  list-style: none;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-family: Georgia;
  transition: .5s linear;
}

.main-menu {
  display: block;
  width: 431.5px;
  margin: 0 auto 30px;
}

.two menu {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}

.two li {
  float: left;
}

.two a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, 0.3);
  color: #29838C;
}

.two a:hover {
  background: #ADC0CE;
}

ul.hometask {
  list-style: square;
}

ul.hometask img  {
  width: 200px;
}
